syntax: glob

# [symfony]

cache/*
log/*
web/uploads/*
web/sfDoctrinePlugin
web/sfFormExtraPlugin

#ignore sql generated queries and database files
data/db/*
data/sql/*
data/fixtures/*

# [ide]
*.komodoproject
*.kpf
