syntax: glob

# [symfony]

cache/*
log/*
web/uploads/*
web/sfDoctrinePlugin
web/sfFormExtraPlugin

#ignore sql generated queries and database files
data/db/*
data/sql/*
data/fixtures/*

# ignore custom base classes
lib/filter/doctrine/base/*
lib/form/doctrine/base/*
lib/model/doctrine/base/*

#ignore plugin base classes
lib/filter/doctrine/*/base/*
lib/form/doctrine/*/base/*
lib/model/doctrine/*/base/*

# [ide]
*.komodoproject
*.kpf
