#sf_admin_container td,
#sf_admin_container th {
  padding: 0.5em 1em;
}
/* display actions in block */
#sf_admin_container ul.sf_admin_td_actions li {
  display: block;
}
#sf_admin_container .sf_admin_form_row {
  overflow: hidden;
}
#sf_admin_bar {
  z-index: 1010;
  position: fixed;
  right: 10px;
  bottom: 0;
}
#sf_admin_bar div.totalsum {
  background-color: white;
  padding: 10px 5px;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
  font-size: 18px;
}

/* prevent filter selects from changing width (dynamic content) */
#item_filters_menu_group {
  width: 260px;
}
#item_filters_menu_item_id {
  width: 260px;
}
#sf_admin_content table .sf_admin_list_td_index {
  cursor: move;
}